body{

	background: #f1f1f1;
}

/* CLASE A FORMULARIO*/
#login .container #login-row  #login-box{
	margin-top: 40px;
	height: 380px;
	width: 550px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);

	}



#login-column{
padding: 0px 0px 0px 0px;
}

/*CLASE CAJA DE FORMULARIO*/
#login{
	padding: 80px 0px 0px;

}
/*FIN CLASE CAJA DE FORMULARIO*/


#formlogin{
	padding: 0px 0px 0px;
}

.form-group{

	padding: 16px 30px 16px;
}

.logo-img{
	height: 150px;
	width: 150px;

}
/* FIIIIN CLASE FORMULARIO*/

/* CLASE INPUT*/
.boton{
	background-color: transparent;
	width: calc(100% - 10px);
    min-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: .5px;
    border: 0;
    border-bottom: 1.5px solid #c7c7c7;
}
.input-date{    
  background-color: transparent;
    width: calc(100%);
    min-height: 30px;
    padding-left: 30px;
    padding-right: 10px;
    letter-spacing: .5px;
    border: 0;
    border-bottom: 1.5px solid #c7c7c7;
}
[type="date"]::-webkit-inner-spin-button {
  display: ;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input:-internal-autofill-selected{
  background-color: black;
}

input:focus {
    outline: none;
    border-color: #ffb509; 
	}
/* FIN CLASE INPUT*/


/* CLASE A DOS COLUMNAS*/
	.box {
    overflow: hidden;

}

.content {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
}

.left {
	padding: 20px 0px 0px 0px;
    float: left;
    width: 40%;
}

.left .content {
    border-right: 2px solid #24cf5f;
    height: 200px;
}

.right {
	padding: -10px 0px 0px 0px;
    float: right;
    width: 60%;

}

/* FIIIN CLASE A DOS COLUMNAS*/


/* BOTON SUBMIT*/
.button {
  color: #ffffff;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  background-color: #1a278e;
  padding: 10px 25px;
  font-size: 12px;
  float: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  outline: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all .1s; }
  .button:hover, .button:active, .button:focus {
    -ms-transform: scale(1.1);
        transform: scale(1.1); }
/* FIIIN BOTON SUBMIT*/

.forgot_pass{
	font-size: 12px;
	color: #5b1b89; 

}

.text-out-sup{
	padding-top: 50px;
	padding-bottom:  30px;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	color: white;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	    
}



.circle{
	
	border-radius: 45%;
	height: 100px;
    width: 110%;
            transform: translateX(-5%) translateY(-25%);
}

.text-out-inf{
	float: center;
	margin-right: 40px;
}


/* FONTAWESOME EN FORM REGISTRO PACIENTES*/
.inputWithIcon input[type="text"] {
  padding-left: 30px;
  width: 100%;

}

.inputWithIcon {
  position: relative;

}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 18px;
  padding: 9px 9px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon input[type="number"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

/* FIN EN FORM REGISTRO PACIENTES*/


input[type="number" i] {
    padding: 1px 2px;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 40px;
    width: 100%;
}

.titulo-col-reg{
  font-family: sans-serif;
  padding-top: 20px;
  padding-left: 20px;
}

/* CAMPO DIAGNOSTICO - FORMULARIO DE REGISTRO*/
.boton-text-area{
  background-color: transparent;
  width: 100%;
    min-height: 30px;
    padding-top: 25px;
    padding-left: 40px;
    height: 50px;
    padding-right: 5px;
    letter-spacing: .5px;
    border: 0;
    border-bottom: 1.5px solid #c7c7c7;
     outline: none;
}

.boton-text-area:-internal-autofill-selected{
  background-color: black;
  
}

.boton-text-area:focus {
    outline: none;
    border-color: #ffb509; 
}
/* CAMPO DIAGNOSTICO - FORMULARIO DE REGISTRO*/

@media screen and (max-width: 512px) and (min-width: 500px) {
                .left-reg{
                        display:none;
                }

        }
.left-reg {
  padding: 0px 0px 0px 0px;
    float: left;
    width: 0%;
    text-transform: uppercase;
}

.left-reg .content {
    border-right: 2px solid #24cf5f;
    height: 200px;
}
@media (min-width: 1025px) {
  .left-reg {
    width: 50%; !important;

  }
.right-reg {
    padding: 20px 20px 20px 20px;
    float: right;
    width: 50%;
    text-transform: uppercase;

}

.boton_enviar{
  float:  justify;
}


.card{
  background-color: #1a278e;
  width: 100%;
  padding: 20px;
  margin: 20px;

}

.fondoregistro{
  width: 100%;
  height: 100%;
 position: relative;
}

  .modal__product {
    position: absolute;
    top: 0%;
    left: 0%;
    max-height: 10%;
    -ms-transform: translateX(calc(-50% - 10px));
        transform: translateX(calc(-0% - 10px)); }

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
    padding: 0px;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(
180deg
,#1a278e 10%,#224abe 100%);
    background-size: cover;
}

.imagen-fondo {
    background-image: url("fondologin.png");
}

.img-fondo{
  color: #fff;
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 0px 0px 10px;
}

.card_pa{
  background-color: #007bff;
   width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}

@media (max-width: 769px){
  .card_pa {
    background-color: #007bff;
  }
}



.card_pa:hover {
  background-color: #1676dc;
  transform: translate(0%, 0rem);
}

.card_do{
  
   width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}
.card_do:hover {
  background-color:#ffe007;
  transform: translate(0%, 0rem);
}

.card_re{
 
   width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}
.card_re:hover {
  background-color:#26ce4c;
  transform: translate(0%, 0rem);
}

.card_de{
  background-color: #dc3545;
   width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}
.card_de:hover {
  background-color: #ec2538;
 transform: translate(0%, 0rem);
}

.card-footer {
    padding: 10px 10px;
    background-color: rgb(0 0 0 / 0%);
    border-top: 1px solid rgba(0,0,0,.125);
}

#tb-donaciones{
  margin-bottom: 3em;
  margin-right: 3em;
  margin-left: 1em;
}
#btn-donaciones{
  /*margin-bottom: 1em;*/
     
    margin-right: 3em;
    margin-left: em;
}
#rgt-pacientes{
  margin-bottom: 3em;
  margin-right: 3em;
  margin-left: 1em;
}
#card_detalle{
  margin-bottom: 1em;
  margin-right: 3em;
  margin-left: 1em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
}


element.style {
    margin-left: -10px;
    margin-right: 20px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 2.5rem;
}

